.cover__link {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: calc(62.5vw + 368px);
  min-height: 57.8vw;
  color: white;
  z-index: 0;
  text-decoration: none;
  background-image: url("../../../images/to-Baikal-on-dogs.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (min-width: 1280px) {
  .cover__link {
    max-width: 1184px;
    min-height: 740px;
  }
}

@media all and (max-width: 1024px) {
  .cover__link {
    width: 100%;
    min-height: 62.5vw;
  }   
}

.cover__link::before {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(42, 44, 47,0.3);
}

.cover__link:hover::before {
  background: rgba(42, 44, 47,0.8);
}