.cover__link {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  min-height: 100%;
  color: white;
  text-decoration: none;
  background:rgba(42, 44, 47,0.3);
}

.cover__link:hover {
  background: rgba(42, 44, 47,0.8);
}

.cover__link:visited {
  color: white;
}