.photo-grid {
  width: calc(100vw - 96px);
  display: grid;
  grid-template-columns: repeat(auto-fit,calc(-6.25vw + 364px)); /*284px*/
  grid-template-rows: repeat(auto-fit,calc(-4.687vw + 273px)); /*214px*/
  justify-content: center;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

@media all and (min-width: 1280px) {
  .photo-grid {
    width: 1184px;
    grid-template-columns: repeat(auto-fit,284px); 
    grid-template-rows: repeat(auto-fit,214px); 
  }
}

@media all and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit,calc(-20.31vw + 508px)); /*300px*/
    grid-template-rows: repeat(auto-fit,calc(-15.23vw + 381px)); /*225px*/
  }
}

@media all and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit,calc(7.14vw + 297.14px)); /*352px*/
    grid-template-rows: repeat(auto-fit,calc(10.71vw + 181.7px)); /*264px*/
    width: calc(100vw - 3.57vw - 20.57px);
  }
}

@media all and (max-width: 340px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit,288px);
    grid-template-rows: repeat(auto-fit,216px);
    width: calc(100vw - 32px);
  }
}
  