.places {
  width: calc(21.8vw + 704px);
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 80px;
}

@media all and (min-width: 1280px) {
  .places{
    max-width: 1280px;
  }
}

@media all and (max-width: 1024px) {
  .places {
    width: calc(81.25vw + 96px);
  }
}

@media all and (max-width: 768px) {
  .places {
    width: calc(89.2vw + 14.3px); /*calc(89.2vw + 34.3px)*/
    grid-row-gap: 72px;
  }
}

@media all and (max-width: 320px) {
  .places {
    width: 100%;
    grid-row-gap: 50px;
  }
}