.lead {
  border: 1px solid red;
  position: relative;
  max-width: 76.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (min-width: 1280px) {
  .lead{ 
    max-width: 1280px;
  }
}

@media all and (max-width: 1024px) {
  .lead {
    max-width: 90.6vw;
  }
}

@media all and (max-width: 768px) {
  .lead {
    max-width: 100vw;
  }
}