.photo-grid__item {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  width: calc(-6.25vw + 364px);
  height: calc(-4.687vw + 273px);
  overflow: hidden;
}

@media all and (max-width: 1024px) {
  .photo-grid__item {
    width:  calc(-20.31vw + 508px);
    height: calc(-15.23vw + 381px);
  }
}

@media all and (max-width: 768px) {
  .photo-grid__item {
    width: calc(7.14vw + 297.14px);
    height: calc(10.71vw + 181.7px);
  }
}

@media all and (max-width: 340px) {
  .photo-grid__item {
    max-width: 100%;
    max-height: 216px;
  }
}
