.intro {
  width: 76.8vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media all and (min-width: 1280px) {
  .intro{
    max-width: 1280px;
  }
}

@media all and (max-width: 1024px) {
  .intro {
    width: 90.6vw;
  }
}

@media all and (max-width: 768px) {
  .intro {
    max-width: 93.75vw;
  }
}

@media all and (max-width: 320px) {
  .intro {
    max-width: 90vw;
  }
}