.cover {
  width: calc(62.5vw + 384px);
  min-height: calc(39vw + 240px);
  height: 1px;
  position: relative;
  z-index: 1;
  background-image: url("../../images/to-Baikal-on-dogs.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 62.5vw;
  }
}
