.cover__title {
  margin: calc(19.5vw - 5px) auto 32px;
  max-width: 560px;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
}

@media all and (min-width: 1280px) {
  .cover__title {
    margin: 245px auto 32px;
  }
}

@media all and (max-width: 1024px) {
  .cover__title {
    margin-top: calc(31.2vw - 125px);
  }
}

@media all and (max-width: 768px) {
  .cover__title {
    margin-top: calc(18.3vw - 25.5px);
    font-size: calc(8.9vw + 3.4px);
    line-height: calc(8.9vw + 7.4px);
    width: auto;
    margin-bottom: calc(3.57vw + 4.57px);
  }
}

@media all and (max-width: 320px) {
  .cover__title {
    margin-bottom: 16px;
    line-height: 35px;
  }
}