.page__footer {
  margin: 0;
  padding: 0;
  margin-top: 92px;
}

@media all and (max-width: 768px) {
  .page__footer {
    margin-top: 88px;
  }
}

@media all and (max-width: 650px) {
  .page__footer {
    margin-left: 16px;
    margin-bottom: 24px;
  }
}

@media all and (max-width: 320px) {
  .page__footer {
    margin-top: 64px;
  }
}